{% extends 'base.html' %}
{% block content %}
<div class="article-entry">
<p>{{ object.date }}
    <a href="{% url 'planners_edit' object.pk %}">Change date for this plans</a> |
    <a href="{% url 'planners_delete' object.pk %}">Сancel plans for this day</a></p>
</div>
<div class="card-body">
    {% for event in events_of_day %}
        {% if plans.id == event.event_planner_id %}
            {{ event.event_body }} at {{ event.event_time }} <a href="{% url 'events_detail' event.pk %}">-></a><br>
        {% endif %}
    {% endfor %}
</div>
<p>Back to <a href="{% url 'planners_list' %}">all plans</a>.</p>
{% endblock content %}